[submodule "examples/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos"]
	path = examples/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos
	url = https://github.com/marcmerlin/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos
